.projects {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-bottom: 30px;
}
.projects-card {
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  border-radius: 12px;
}

.button {
  display: flex;
}


.Dado {
  width: 200px;
  height: 300px;
  margin: 30px;
  border: solid 1px rgb(0, 0, 0);
  border-radius: 20px;
  background-image: url("../../../public/assets/dadoproject.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.PokeApi {
  width: 200px;
  height: 300px;
  margin: 30px;
  border: solid 1px rgb(0, 0, 0);
  border-radius: 20px;
  background-image: url("../../../public/assets/pokeapiproject.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.card img {
  border-radius: 30px;
  margin-bottom: 40px;
}

.links {
  display: flex;
  justify-content: center;
}

.links a {
  border-radius: 15px;
  width: 80px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(255, 255, 255);
  font-weight: bold;
}
