.projects {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.projects-card {
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  border-radius: 12px;
}

h3 {
  color: #000000;
}
a {
  color: #000000;
  text-decoration: none;
}

.button {
  display: flex;
}

p {
  color: rgb(0, 0, 0);
}

.card-projects {
  width: 350px;
  height: 450px;
  margin: 30px;
  border: solid 2px rgb(0, 0, 0);
  border-radius: 60px;
}

.card-projects img {
  width: 200px;
  height: 200px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.card img {
  border-radius: 50px;
}

.links {
  display: flex;
  justify-content: center;
}

.links a {
  border-radius: 15px;
  width: 80px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(0, 0, 0);
  font-weight: bold;
}

.name {
  margin-bottom: 0px;
}
