.heroname{
  padding-top: 50px;
  min-height: 100vh;
  width: 100%;
}

.hero {
  
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding-top: 10%;

  &--container{
    display: flex;
    align-items: center;
    gap: 100px;

    h4{
      font-size: 40px;
    }
  } 
}

.myname{
  color: #000000;
  font-size: 50px;
}

.logo {
  width: 360px;
  border-radius: 50%;
  display: flex;
  border: solid 3px #000000;
}

.btn-cv{
  width: 180px;
  height: 50px;
  border-radius: 16px;
  border: none;
  background-color: rgb(255, 255, 255);
  font-size: 20px;
  font-size: 15px;
}

.btn:hover {
  box-shadow: 0 0 5px 0 #000000 inset, 0 0 10px 4px #000000;
  color: #000000;
}

.cv{
  display: flex;
  justify-content: center;

  a{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    gap: 10px;
  }

  &__btn{
    border: 1px solid #000000;
    height: 50px;
    width: 150px;
    color: rgb(0, 0, 0);
    border-radius: 10px;   
  }

  &__btn:hover{
    background-color: #000000;
    color: rgb(255, 255, 255);
    font-weight: bold;   
  }
}
.icons.cv{
  color: black;
  margin-right: 100px;
}
