.about {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 20px;
  padding-top: 200px;
}
.about-card {
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 12px;
  align-items: center;
}

.about-p {
  text-align: center;
}

.line {
  text-align: center;
  border: 2px solid #000000;
}

@media screen and (max-width: 800px) {
  .about {
    padding-top: 20px;
  }
}

@media screen and (max-width: 430px) {
  .about {
    padding-top: 20px;
  }
}

@media screen and (max-width: 290px) {
  .about {
    padding-top: 20px;
  }
}
