.containercontact{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.contact p {
    font-size: 18px;
    text-align: center;
}

.contact a {
    font-size: 18px;
    text-align: center;
}

.containercontact{
    padding-top: 30px;
    padding-bottom: 70px;
}
