@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
.Cabecera {
  position: fixed;
  width: 100%;
  background-color: #ffffff;
  /* padding: 0.6em; */
  display: flex;
  justify-content: space-between;
  padding-left: 2%;
  padding-right: 2%;
  flex-flow: row wrap;
  align-items: center;
  color: black;
  box-shadow: inset 0 -3em 3em rgba(255, 255, 255, 0.1), 0 0 0 2px rgb(0, 0, 0),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}

.Cabecera-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 3%;

}

.Cabecera-button {
  display: none;
  cursor: pointer;
  background-color: #ffffff;
}

.Cabecera-svg {
  width: 2em;
  height: 2em;
  color: #000000;
}

.Cabecera-ul {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
  gap: 40px;
  color: black;


}
.Cabecera-li {
  color: black;
  margin: 0 0.5em;
  list-style: none;


  a {
    color: black;
    font-weight: 800;
    font-size: 16px;
    font-family: "Lato", sans-serif;

  }
}
/* nav ul a {
  color: #2d2e32;
  font-weight: 600;
  text-decoration: none;
  transition: all .23s;
  transition-duration: 0.23s;
  transition-timing-function: ease;
  transition-delay: 0s;
  transition-property: all;
} */

@media screen and (max-width: 480px) {
  .Cabecera {
    position: relative;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    padding-left: 0;
    padding-right: 0;
    box-shadow: inset 0 -3em 3em rgba(255, 255, 255, 0.1),
      0 0 0 2px rgb(0, 0, 0), 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
  }

  .title {
    padding-left: 6%;
  }

  .Cabecera-button {
    padding-right: 6%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  .Cabecera-nav {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    padding-right: 0;
    height: 0vh;
    opacity: 0;
    overflow: hidden;
    transition: all 0.5s ease;
    background-color: #000000;

    a {
      color: white;
    }
    a:hover {
      text-decoration: underline;
      color: white;
    }
  }
  .Cabecera-nav.isActive {
    height: 25vh;
    opacity: 1;
  }

  .Cabecera-ul {
    flex-direction: column;
    list-style: none;
    gap: 5px;
  }
  .Cabecera-li {
    margin: 0.5em 0;
    list-style: none;
  }
}
