.experience {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .experience-card {
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    border-radius: 12px;
  }
  img {
    width: 150px;
    margin: 20px;
    border-radius: 20px;
  }
  h1 {
    color: #0e8b85;
  
    font-size: 40px;
  }
  h3 {
    color: #ffffff;
  }
  a {
    color: #ffffff;
    text-decoration: none;
  }
  
  .fa-envelope {
    color: #ffffff;
  }
  
  p{
      color: white;
  }
  
  button {
      width: 100px;
      height: 40px;
      border-radius: 16px;
      margin-left: 10px;
      background-color: white;
  }
  
  .circle {
      color: #0e8b85;
      width: 10px;
  }