@font-face {
  font-family: "Cascadia Code";
  src: url("../public/ttf/CascadiaCode.ttf") format("ttf");
}

* {
  font-family: "Cascadia Code", sans-serif;
/*   background-color: #222428; */
  padding: 0;
}

.App {
  display: flex;
  flex-direction: column;
  background-color: #222428;
}

button {
  width: 180px;
  height: 50px;
  border-radius: 16px;
  margin-left: 15px;
  border: #222428;
  background-color: #222428;
  font-size: 20px;
  color: #46f3ff;
}

.btn:hover {
  box-shadow: 0 0 5px 0 #46f3ff inset, 0 0 10px 4px #46f3ff;
  color: #46f3ff;
}

.more {
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
}

.icon {
  width: 30px;
}

h1 {
  color: #46f3ff;
  text-align: center;
  font-size: 40px;
}
h4 {
  color: #46f3ff;
  font-size: 20px;
}
a {
  color: #ffffff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.icons {
  color: #ffffff;
}

.icon {
  color: #46f3ff;
}

p {
  color: white;
  font-size: 18px;
}

@media screen and (max-width: 430px) { 
  .App {
     width: 100%;
     display: flex;
     justify-content: center;
     flex-direction: column;
     max-width: 390;
 }
 .hero {
  display: flex;
  flex-direction: column;
 }
 .more{
  display: flex;
  flex-direction: column;
  align-items: center;
 }
 .btn{
  margin-bottom: 10px;
 }
 .form {
  width: 350px;
  height: 50px;
 }
 .projects {
  display: flex;
  flex-direction: row;
 }
}

@media screen and (max-width: 800px) { 
  .App {
     width: 100%;
     display: flex;
     justify-content: center;
     flex-direction: column;
     max-width: 390;
 }
 .hero {
  display: flex;
  flex-direction: column;
 }
 .more{
  display: flex;
  flex-direction: column;
  align-items: center;
 }
 .btn{
  margin-bottom: 10px;
 }
 .form {
  width: 350px;
  height: 50px;
 }
 .projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
 }
}

@media screen and (max-width: 290px) { 
  .App {
     width: 100%;
     display: flex;
     justify-content: center;
     flex-direction: column;
     max-width: 390;
 }
 .hero {
  display: flex;
  flex-direction: column;
 }
 .more{
  display: flex;
  flex-direction: column;
  align-items: center;
 }
 .btn{
  margin-bottom: 10px;
 }
 .form {
  width: 240px;
  height: 50px;
 }
 .button{
  width: 200px;
 }
 .projects {
  display: flex;
  flex-direction: row;
 }
}

