@import url("https://fonts.cdnfonts.com/css/cascadia-code");

* {
  font-family: "Cascadia Code", sans-serif;
  padding: 0;
}

html {
  background-color: #eaeaea;
}

.App {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

button {
  width: 180px;
  height: 50px;
  border-radius: 16px;
  border: none;
  background-color: rgb(255, 255, 255);
  font-size: 20px;
  color: #000000;
}

.buttons{
  background-color: white;
  padding-top: 200px;
}

.btn:hover {
  box-shadow: 0 0 5px 0 #46f3ff inset, 0 0 10px 4px #46f3ff;
  color: #46f3ff;
}

.more {
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
  gap: 40px;
}

.icon {
  width: 30px;
}

h1 {
  color: #000000;
  text-align: center;
  font-size: 40px;
}
h4 {
  color: #000000;
  font-size: 20px;
}
a {
  color: #000000;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.icons {
  color: #000000;
}

.icon {
  color: #000000;
}

p {
  color: rgb(0, 0, 0);
  font-size: 18px;
}

@media screen and (max-width: 800px) {
  .App {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 390;
  }
  .about{
    padding-top: 0;
  }
  .hero {
    display: flex;
    flex-direction: column;
    align-items: center;

    .card-hero {
      display: flex;
      flex-direction: column;
      align-items: center;

      .info {
        line-height: 0px;
      }

      h4 {
        text-align: center;
      }
    }
  }

@media screen and (max-width: 430px) {
  .App {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 390;
  }
  .hero--container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
  }

  .about{
    padding-top: 0;
  }
  .more {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  .btn {
    margin-bottom: 10px;
  }
  .form {
    width: 350px;
    height: 50px;
  }
  .projects {
    display: flex;
    flex-direction: row;
  }
}
  .hero--container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
  }
  .more {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 0 100px 50px 100px;
  }
  .btn {
    margin-bottom: 10px;
  }
  .form {
    width: 350px;
    height: 50px;
  }
  .projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (max-width: 290px) {
  .App {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 390;
  }
  .about{
    padding-top: 0;
  }
  .hero {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .hero--container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
  }
  .more {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  .btn {
    margin-bottom: 10px;
  }
  .form {
    width: 240px;
    height: 50px;
  }
  .button {
    width: 200px;
  }
  .projects {
    display: flex;
    flex-direction: row;
  }
}
