/* .skills{
  background-color: white;
} */

.habilities{
    display: flex;
    text-align: center;
    justify-content: center;
    padding-bottom: 40px;

    &__images img{
    width: 60px;
    margin: 30px;
    }

    &__images img:hover{
        animation: bounce 0.5s linear;
    }
    @keyframes bounce {
        20% {
          transform: translateY(-6px);
        }
        40% {
          transform: translateY(0px);
        }
        60% {
          transform: translateY(-2px);
        }
        80% {
          transform: translateY(-0px);
        }
      }
}

@media screen and (max-width: 800px) {
  .habilities {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

@media screen and (max-width: 430px) {
  .habilities {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

@media screen and (max-width: 290px) {
  .habilities {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}